<div class="header_top__barner bg-gray-200 w-full h-24 flex justify-between">
  
 <a href="/" class="header_top__barner__logo">
  
  <img
  
    src="https://cdn.shopify.com/s/files/1/0549/9463/2764/files/naturesbarn_logo_88ed2a68-8548-401b-b34e-ca459b7448bf_720x.png?v=1636266050"
    {% comment %} src="https://organicpositive.in/wp-content/uploads/2020/08/o-positive_Logo.png" {% endcomment %}
    alt=""
    class="image_barnner"
  />
  </a>

   <form
      action="{{ routes.search_url }}"
      method="get"
      role="search"
      class="search_barner_input" >
  <div class="search_div flex space-x-4">
   
    
    <input
      type="search"
      name="q"
      class="search_barner_input"
      placeholder="Search Products here"
    />

  

    <!-- <form
      action="{{ routes.search_url }}"
      method="get"
      class="header-bar__search-form clearfix"
      role="search"
    >
      <input type="hidden" name="type" value="product" />
      <button
        type="submit"
        class="btn btn--search icon-fallback-text header-bar__search-submit"
      >
        <span class="icon icon-search" aria-hidden="true"></span>
      </button>
      <input
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        aria-label="{{ 'general.search.placeholder' | t }}"
        class="header-bar__search-input"
        placeholder="{{ 'general.search.placeholder' | t }}"
      />
    </form> -->

    <!-- <div class="header-bar__module header-bar__search">
      {% render 'search-bar' with 'header' %}
    </div> -->

    <!-- </form> -->

    <button class="seachBtn" type="submit">Search</button>
  </div>
    </form>
</div>

<div class="bottom__section">
  <div class="bottom__menu__header">

    <!-- Main Menu  -->
    <div
      class="
        grid__item
        post-large--two-thirds post-large--display-table-cell
        medium-down--hide main__menu
      "
    >
      {% render 'site-nav' with linklists[section.settings.nav_menu] %}
      <a href="{{ routes.cart_url }}" class="cart-page-link mobile-cart-page-link">
        <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }} <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
    </div>
    
    <!-- Mobile Menu  -->
    <div class="wrapper post-large--hide">
      {% unless section.settings.nav_menu == blank and section.settings.header_search_enable == false and shop.customer_accounts_enabled == false %}
        <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger" aria-controls="MobileNav" aria-expanded="false">
          <span class="icon icon-hamburger" aria-hidden="true"></span>
          {{ 'layout.navigation.menu' | t }}
        </button>
      {% endunless %}
      <a href="{{ routes.cart_url }}" class="cart-page-link mobile-cart-page-link">
        <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }} <span class="cart-count{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
    </div>
    {% render 'mobile-nav' with linklists[section.settings.nav_menu] %}
  </div>
  </div>

  <div class="cart"></div>
</div>



<style>
  .header_top__barner {
    height: 150px;
    background-color: #dddcd2;
    padding: 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  img.image_barnner {
    width: 244px;
    object-fit: contain;
    margin-left: 86px;
  }
  .search_div {
    background-color: #fefefe;
    height: 44px;
    width: 459px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;
    margin-right: 88px;
    font-size: 14px;
  }

  input.search_barner_input {
    outline: none;
    background-color: #00000000;
    flex: 1;
    padding-left: 16px;
    height: 44px;
    margin-right: -13px;
    font-size: 13px;
    border-radius: 20px;
    outline: none;
  }

  button.seachBtn {
    background: #11b618;
    color: white;
    font-weight: bold;
    border: none;
  }

  button.seachBtn {
    background: #11b618;
    color: white;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
    width: 100px;
    cursor: pointer;
  }

  button.seachBtn:hover {
    background: #0e6612;
    color: white;
  }

  .main__menu{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    width: 100%;
  }

  .cart-page-link{
    color: white;
     margin-left: 23px
  }
a.site-nav__link:hover {
    color: #ffaf1b;
    transform: );
    transition: all 1s cubic-bezier(0.47, 0.21, 0, 1.38);
    transform: translateX(10px);
}

.cart-page-link:hover{
  color: #ffaf1b;
    transform: );
    transition: all 1s cubic-bezier(0.47, 0.21, 0, 1.38);
    transform: translateX(10px);
}

a.slides__btn.btn:hover {
    background: #454545;
    transition: all 1s cubic-bezier(0.57, 0.26, 0, 1.42);
    transform: scaleX(1.1);
}

{% comment %} .index-section.slideshow-section {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 45vh;
    padding: 0 92px;
} {% endcomment %}

.index-section.slideshow-section {
    width: 98%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 130px !important;
    height: 392px;
}

.slides-text-content-wrapper-center {
    margin: 0 auto !important;
}

.slides__title {
    font-size: 225% !important;
}

.slides__text-content {
    width: 72%;
    margin: 0 auto;
    position: absolute;
    top: 37% !important;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
</style>
