<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {% if settings.favicon %}
    <link
      rel="shortcut icon"
      href="{{ settings.favicon | img_url: '32x32' }}"
      type="image/png"
    />
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags |
      join: ', ' %} &ndash; {{ "general.meta.tags" | t: tags:meta_tags }}{%
      endif %}{% if current_page != 1 %} &ndash;
      {{ "general.meta.page" | t: page:current_page }}{% endif %}{% unless
      page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- Social meta ================================================== -->
    {% include 'social-meta-tags' %}

    <!-- Helpers ================================================== -->
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="{{ settings.color_primary }}" />

    <style>
      .company__introduction__div {
        width: 70%;
        margin: 0 auto;
        padding: 18px;
        font-style: italic;
      }

      p.description_text_top {
        text-align: center;
      }
    </style>

    <!-- CSS ================================================== -->
    {{
      "timber.scss.css" | asset_url | stylesheet_tag
    }}
    {{
      "theme.scss.css" | asset_url | stylesheet_tag
    }}
    {% render 'css-variables' %}

<!--     Tracking script -->
    <script>
function getUrlVars() {
  var b = {};
  window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (a, c, d) {
    b[c] = d;
  });
  return b;
}

var source = getUrlVars().utm_source,
  Click_ID = getUrlVars().click_id,
  gclid = getUrlVars().gclid;

function setSourceCookieStorage(b) {
  var a = new Date(Date.now());
  var otherInfo = {};
  otherInfo.device = navigator.userAgentData.mobile ? "mobile" : "desktop";
  otherInfo.platform = navigator.userAgentData.platform
    ? navigator.userAgentData.platform
    : "hidden";
  otherInfo.userAgent = navigator.userAgent ? navigator.userAgent : "hidden";
  otherInfo.referrer = document.referrer ? document.referrer : "hidden";
  otherInfo.language = navigator.language ? navigator.language : "hidden";
  otherInfo.origin = window.origin ? window.origin : "hidden";
  otherInfo.click_dateTime = a.toLocaleString() + " " + a.toLocaleTimeString();
  otherInfo.click_id = Click_ID ? Click_ID : "None passed";
  otherInfo.utm_source = source ? source : "None passed";

  a.setTime(a.getTime() + 2592e6);
  a = "expires\x3d" + a.toUTCString();

  document.cookie = "__utm_aff_lastChannel\x3d" + b + ";" + a + "; path\x3d/";
  localStorage.setItem("__utm_aff_lastChannel", JSON.stringify(b));
  localStorage.setItem("Arabclicks_click_id", JSON.stringify(Click_ID));
  localStorage.setItem("__utm_aff_last_Referer", JSON.stringify(location.href));
  localStorage.setItem("__utm_aff_otherInfo", JSON.stringify(otherInfo));
}
"" != gclid && void 0 != gclid
  ? setSourceCookieStorage("google")
  : "facebook" == source ||
    "snapchat" == source ||
    "TikTok" == source ||
    "google" == source ||
    "criteo" == source ||
    "sms" == source
  ? setSourceCookieStorage(source)
  : ("Arabclicks" == source || "arabclicks" == source) &&
    setSourceCookieStorage(source);

var New_attributed_source = window.document.referrer;
var origin_path = window.location.origin;
if (!source && New_attributed_source.indexOf(origin_path) == -1) {
  setSourceCookieStorage(New_attributed_source);
  console.log("new attribution source detected");
}




    
    </script>
    <script>
      window.theme = window.theme || {};

      var theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          zoomClose: {{ "products.zoom.close" | t | json }},
          zoomPrev: {{ "products.zoom.prev" | t | json }},
          zoomNext: {{ "products.zoom.next" | t | json }},
          addressError: {{ 'map.errors.address_error' | t | json }},
          addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
          addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
          authError: {{ 'map.errors.auth_error_html' | t | json }}
        },
        settings: {
          // Adding some settings to allow the editor to update correctly when they are changed
          enableWideLayout: {{ settings.enable_wide_layout }},
          typeAccentTransform: {{ settings.type_accent_transform }},
          typeAccentSpacing: {{ settings.type_accent_spacing }},
          baseFontSize: '{{ settings.type_base_size }}',
          headerBaseFontSize: '{{ settings.type_header_size }}',
          accentFontSize: '{{ settings.type_accent_size }}'
        },
        variables: {
          mediaQueryMedium: 'screen and (max-width: 768px)',
          bpSmall: false
        },
        moneyFormat: {{ shop.money_format | json }}
      };

      {%- if template == 'collection' -%}
        {%- if current_tags -%}
          {%- capture tag_handles -%}
              {%- for tag in current_tags -%}
                {{- tag | handle | append: '|' -}}
              {%- endfor -%}
          {%- endcapture -%}
        {%- endif -%}

        theme.breadcrumbs = {
          collection: {
            title: {{ collection.title | json }},
            link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
          }
        };
        sessionStorage.setItem("breadcrumb", JSON.stringify(theme.breadcrumbs.collection));

      {%- elsif template != 'product' -%}
        if (sessionStorage.getItem("breadcrumb")) {
          sessionStorage.removeItem("breadcrumb")
        }
      {%- endif -%}

      document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
    </script>

    <!-- Header hook for plugins ================================================== -->
    {{
      content_for_header
    }}

    {{
      "jquery-2.2.3.min.js" | asset_url | script_tag
    }}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    {% comment %} If you store has customer accounts disabled, you can remove
    the following JS file {% endcomment %} {% if request.page_type contains
    'customers/' %}
    {{
      "shopify_common.js" | shopify_asset_url | script_tag
    }}
    {% endif %} {% render 'shogun-head' %}
    <script src="https://shopoe.net/app.js"></script>
</head>

  <body
    id="{{ page_title | handle }}"
    class="{% if customer %}customer-logged-in {% endif %}template-{{
      request.page_type | handle
    }}"
  >
    {% section 'header' %} {% if template == 'index' %} {% section 'slider' %}
    <div class="company__introduction__div">
      <p class="description_text_top">
        In our journey you’ll see a gradual organic progression
      </p>
      <p class="description_text_bottom">
        We like to think of our customers as family. We know that the majority
        of people want to know and care for the environment & health when they
        consume our food. We offer our customers high quality organic and
        natural products from the foothills of Himalayas to exotic north east
        locations. We are excited to be working with farmers to bring the
        product directly to consumers.
      </p>
    </div>
    <hr />

    {% render 'shopByCategory' %} {% render 'CategorySection' %} {% render
    'ProductsCollection' %} {%endif%}
    <hr />
    {% if template != 'index' %}
    <main class="wrapper main-content" role="main">
      <div class="grid">
        <div class="grid__item">
          {{ content_for_layout }}
        </div>
      </div>
    </main>
    {% endif %} {% section 'footer' %} {%- if request.page_type == 'index' -%}
    <p id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'home_page.slideshow.navigation_instructions' | t -}}
    </p>
    {%- endif -%} {% if request.page_type == 'product' or request.page_type ==
    'index' %}
    {{ "option_selection.js" | shopify_asset_url | script_tag }}
    {% endif %}

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {{ "general.accessibility.refresh_page" | t }}
      </li>
      <li id="a11y-external-message">
        {{ "general.accessibility.new_window" | t }}
      </li>
      <li id="a11y-new-window-external-message">
        {{ "general.accessibility.new_window_and_external" | t }}
      </li>
    </ul>

    {{ "theme.js" | asset_url | script_tag }}
  
<!-- BeeAppWhatsapp -->
<div id="bap-whatsa-wrp" style="float: left; clear: both; width: 100%"></div>{{shop.metafields.wha_sapp_na_spa.wha_sapp_cont}}
</body>
</html>
